.menu-top{
  display: flex;
  background-color: rgba(104, 105, 107, 0.377);
  position: absolute;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.logo {
  display: flex;
  width: 400px;
  align-items: center;
  gap: 10px;
}

.menu-style {
  display: flex;
  position: relative;
  list-style: none;
}

.menu-style li {
  height: 60px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease-in-out;
}

.menu-style li:hover{
  background-color: rgba(239, 244, 255, 0.377);
  cursor: pointer;
}

p,
li {
  font-size: 18px;
}



